/*@import url(https://fonts.googleapis.com/css?family=Montserrat:700);*/
@media (min-width: 576px) {
  #folio {
    flex-direction: column;
  }
}
body {
  margin: 0; /*3em;*/
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  background-color: black;
  /* background: black; background-image: url('src/pic/fond-dofingthewelsh.png') ;*/
}
main {
  padding: 2em;
}

#intro {
  padding: 3em;
  background: -moz-linear-gradient(
    -45deg,
    rgba(2, 4, 66, 1) 0%,
    rgba(5, 0, 35, 0.71) 29%,
    rgba(196, 197, 198, 0.18) 82%,
    rgba(244, 247, 244, 0) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    rgba(2, 4, 66, 1) 0%,
    rgba(5, 0, 35, 0.71) 29%,
    rgba(196, 197, 198, 0.18) 82%,
    rgba(244, 247, 244, 0) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    rgba(2, 4, 66, 1) 0%,
    rgba(5, 0, 35, 0.71) 29%,
    rgba(196, 197, 198, 0.18) 82%,
    rgba(244, 247, 244, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.5space {
  padding: 5em;
}

a {
  text-decoration: none; /* delete underline for links */
  color: black;
}
a :hover {
  background-color: white;
}

td {
  padding: 20px;
}
th {
  font-size: 1.4em;
}

nav {
  background: whitesmoke;
  color: black;
  margin: 3em;
}
nav :hover {
  color: red;
}
ul {
  list-style: none;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 1em;
}
li {
  padding-left: 2em;
}

.contain {
  object-fit: contain;
}

.caption {
  color: red;
  font-size: 8px;
}

#center {
  background-color: red;
}

#logo {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;

  /*background-image: url('src/pic/pratic.png' )*/
}
#logo img {
  opacity: 0.8;

  /*background-image: url('src/pic/pratic.png' )*/
}

svg {
  mix-blend-mode: difference;
}

#skills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

#folio {
  height: 250px;
  overflow: hidden;

  /*display: flex;
  flex-direction: row;
  justify-content: space-around;*/
}

#folio :hover {
  background: -moz-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 1) 33%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 1) 33%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 1) 33%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#folio section {
  display: inline-block;
  width: 30%;
}

#folio section img {
  width: 100%;
  /*width:100%;*/
  /*object-fit: contain ; */
}

#folio {
  /*width:100%;*/
  color: grey;
}

article {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}
article :hover {
  background: -moz-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 1) 33%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 1) 33%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 1) 33%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.full-width {
  width: 100%;
}

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(/src/pic/vlcsnap-2019-01-09-23h09m18s716.jpg) no-repeat;
  background-size: cover;
}

#cv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1em;
  background: -moz-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 1) 33%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 1) 33%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 1) 33%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
/*#cv :hover {
   padding: 1em;
   background: -moz-linear-gradient(-45deg, rgba(0,0,0,1) 33%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%); 
   background: -webkit-linear-gradient(-45deg, rgba(0,0,0,1) 33%,rgba(0,0,0,1) 50%,rgba(0,0,0,0) 100%); 
     background: linear-gradient(135deg, rgba(0,0,0,1) 33%,rgba(0,0,0,1) 50%,rgba(0,0,0,0) 100%); }
*/

#spaceZ {
  background-blend-mode: color-dodge;
  opacity: 0.4;
  background-image: url("/pic/BKG.jpg");
}

#spaceZ :hover {
  animation: fadeIn 4s;
}
#cosmo :hover {
  opacity: 1;
}

#me img {
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

#inspiration {
  background-color: whitesmoke;
}

#more {
  background-color: rgb(151, 14, 37);
  padding: 50px;
}

#contact {
  padding: 3em;
}

#masker {
  text-align: center;
  position: relative;
}

#masker :hover {
  transition: margin-right 4s, color 1s;
}

#masker h3 {
  margin: 0;
  font-size: 20vw;
  text-transform: uppercase;
  /*font-family: Montserrat, sans-serif; */
  line-height: 0.7;
}

.light h3 {
  color: #000;
  font-size: 19vw;
}

#masker img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.light {
  background: #fff;
  opacity: 0.7;
  animation: color-animation;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-delay: 4s;
}

.light img {
  mix-blend-mode: lighten;
}

@keyframes color-animation {
  25% {
    background-color: rgb(5, 5, 119);
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: white;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  /*faire un focus pour declancher*/
}
